@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.97;
    z-index: 100;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    height: 90px;

}

/* Contenedor del header */
.container__header {
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.logo img {
    width: 350px;
}

/* Menú normal */
.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 16px;
}

.menu ul li a {
    color: #00303e;
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.menu ul li a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 5px;
    background: #00303e;
    transition: 0.4s;
    border-radius: 10px;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 0;
    height: 5px;
    background: #009c8c;
    transition: 0.4s;
    border-radius: 10px;
}

.menu ul li:hover a::before {
    width: 100%;
}
.menu ul li:hover a::after{
    width: 100%;
}

/* Redes sociales */
.socialMedia {
    display: flex;
}

.socialMedia a {
    color: #009c8c;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
}

.socialMedia a:hover {
    color: #00303e;
}

/*SUBMENU*/

nav ul li ul{
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 100px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li ul li{
    padding-bottom: 15px;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 60;
    border-radius: 10px;
}

.menu ul li ul li a::before{
    display: none;
}
.menu ul li ul li a::after{
    display: none;
}

.menu ul li ul li:hover a::after{
    display: initial;
}


.menu ul li ul li:hover a::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 5px;
    background: #009c8c;
    transition: 0.4s;
    border-radius: 10px;
}

.menu ul li ul li:hover a::after {
    width: 100%;
}



/* MENÚ HAMBURGUESA */
#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #293241;
}

.card__accede{
    display: flex;
    flex-direction: column;
}
.descarga{
    margin-top: 150px;
}
.card__accede h3{
    margin-top: 290px;
}

/* ESTILOS RESPONSIVE */
@media (max-width: 1100px) {
    header{
        height: 90px;
    }
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        background: #00303e;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: 0.4s;
        width: 40%;
    }
    
    .logo{
        margin-left: 20px;
    }
    

    .menu ul {
        flex-direction: column;
        padding: 0;
    }

    .menu ul li {
        margin: 20px 0;
    }

    .menu ul li a {
        color: white;
        font-size: 20px;
    }

    /* Mostrar el ícono del menú */
    .menu-icon {
        display: block;
        margin-left: 10px;
    }

    .socialMedia{
        margin-left: 10px;
        margin-right: 20px;
    }

    /* Interacción del menú */
    #menu-toggle:checked + .menu-icon + .menu {
        right: 0;
    }

    /*Sub-menu*/

    .menu ul li ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu ul li ul li a{
        color: #293241;
    }
    nav ul li ul{
        width: 250px;
        display: flex;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 67vh;
        padding: 14px 0px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
        z-index: 10;
        transition: all 300ms ease;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li:hover ul{
        visibility: visible;
        opacity: 1;
        top: 60;
        border-radius: 10px;
    }
    .menu ul li ul li a::before{
        display: none;
    }
    
    .menu ul li ul li a::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 5px;
        background: #98c1d9;
        transition: 0.4s;
        border-radius: 10px;
    }
    
    .menu ul li ul li:hover a::after {
        width: 100%;
    }
    
    nav ul li ul:before{
        content:'';
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid white;
        position: absolute;
        top: -12px;
        left: 115px;
    }
}
@media (max-width: 500px){
    header{
        height: 70px;
    }
    .logo{
        display: none;
    }
    .socialMedia{
        margin-left: 0px;
        margin-right: 50px;
    }
    .menu-icon {
        margin-left: 50px;
    }
    .menu {
        width: 60%;
    }

}

/*PORTADA*/

.container__cover{
    padding-top: 200px;
    margin-bottom: 200px;
    background: url(Imagenes/cubes-2492010.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
}
.cover{
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
}
.text__cover{
    width: 100%;
}
.text__cover h1{
    font-size: 90px;
    color: #fff;
    text-align: center;
}
.btn__text{
    display: block;
    width: 200px;
    margin: 60px auto 0; /* ← centers the button */
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: #fff;
    color: #00303e;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
    font-size: 20px;
}
.btn__text:hover{
    background: transparent;
    border: 2px solid #ffffff;
    color: #fdfdfd;
}
.img__cover{
    width: 100%;
}
.img__cover img{
    width: 700px;
}
.wave{
    position: absolute;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
}

@media (min-width: 1800px ){
    .container__cover{
        height: 1000px;
    }
    .wave{
        margin-top: 350;
    }
}

/*Sobre Mi*/

.container__about{
    padding-top: 0px;
    padding-bottom: 20s0px;
    background: #fff;
    width: 100%;
}
.about{
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.text__about{
    width: 100%;
    padding-left: 170px;
}
.text__about h1{
    font-size: 70px;
    color: #00303e;
}
.text__about p{
    font-size: 20px;
    margin-top: 40px;
    color: #000;
}
.btn__text-about{
    display: block;
    width: 200px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: #00303e;
    color: #fff;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
    font-size: 20px;
}
.btn__text-about:hover{
    background: transparent;
    border: 2px solid #00303e;
    color: #00303e;
}
.img__about{
    width: 100%;
}
.img__about img{
    width: 700px;
}

@media (max-width: 1200px){
    .about{
        flex-direction: column;
        text-align: center;
    }
    .text__about{
        padding: 50px;
    }
}

/*Fuertes*/

.container__fuertes{
    margin-top: 100px;
    margin-top: 200px;
}
.fuertes{
    padding-top: 0px;
    padding-bottom: 50px;
    background: #fff;
    margin-top: 100px;
    justify-content: space-evenly;
}
.container__fuertes h1{
    font-size: 70px;
    color: #00303e;
    text-align: center;
    padding-top: 100px;
}
.fuertes figure{
    position:relative;
     height: 350px;
     cursor: pointer;
     width: 350px;
     overflow: hidden;
     border-radius: 70px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
     margin-left: 20px;
     margin-right: 20px;
 }
 .fuertes figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .fuertes figure .capa{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(3, 63, 74, 0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
 }
 .fuertes figure:hover > .capa {
     opacity: 1;
     visibility: visible;
 }
 .fuertes figure:hover > .capa h3{
     margin-top: 30px;
     margin-bottom: 15px;
 }
 .fuertes figure:hover > img{
     transform: scale(1.3);
 }
 .fuertes figure .capa h3{
     color: #fff;
     font-weight: 400;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
      margin-top: 30px;
 }
 .fuertes figure .capa p{
     color: #fff;
     font-size: 14px;
     line-height: 1.5;
     width: 100%;
     max-width: 220px;
     text-align: center;
     margin-bottom: 15px;
     margin-left: 60px;
}
.fuertes .proyectos1{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 100px;
}
.fuertes .proyectos2{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sect_1{
    justify-content: center;
    display: flex;
    margin: 50px 30px;
}
.sect_2{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

@media(min-width: 1400){
    .fuertes{
        display: block;
    }
}

/*Proyectos*/

.contenedor{
    padding-top: 50px;
    padding-bottom: 100px;
    background: #f1f1f1;
    margin-top: 100px;
}
.contenedor h1{
    font-size: 70px;
    color: #00303e;
    text-align: center;
    padding-top: 100px;
}

.contenedor figure{
    position:relative;
     height: 250px;
     cursor: pointer;
     width: 350px;
     overflow: hidden;
     border-radius: 6px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
 }
 .contenedor figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .contenedor figure .capa{
     position: absolute;
     align-items: center;
     justify-content: center;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 123, 18, 0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
 }
 .contenedor figure:hover > .capa {
     opacity: 1;
     visibility: visible;
 }
 .contenedor figure:hover > .capa h3{
     margin-top: 50px;
     margin-bottom: 15px;
 }
 .contenedor figure:hover > img{
     transform: scale(1.3);
 }
 .contenedor figure .capa h3{
     color: #fff;
     font-weight: 400;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
      margin-top: 30px;
 }
 .contenedor figure .capa p{
     color: #fff;
     font-size: 15px;
     line-height: 1.5;
     width: 100%;
     max-width: 220px;
     text-align: center;
     margin-bottom: 15px;
     margin-left: 60px;
}
.contenedor .proyectos1{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 100px;
}
.contenedor .proyectos2{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn__proyectos{
    font-size: 15px;
    color: #fff;
    padding: 2px 17px;
    border: 2px solid #00303e;/*Variable*/
    border-radius: 8px;
    font-weight: 500;
    transition: all 300ms;
    text-align: center;
}
.btn__proyectos:hover{
    color: #fff;
    background: #00303e;
}
.capa{
    align-items: center;
    justify-content: center;
}

/*Certificados*/

.container__certificados{
    margin-top: 100px;
    margin-top: 200px;
}
.fuertes_certificados{
    padding-top: 0px;
    padding-bottom: 50px;
    background: #fff;
    margin-top: 100px;
    justify-content: space-evenly;
}
.container__certificados h1{
    font-size: 70px;
    color: #00303e;
    text-align: center;
    padding-top: 100px;
}
.fuertes_certificados figure{
    position:relative;
     height: 350px;
     cursor: pointer;
     width: 350px;
     overflow: hidden;
     border-radius: 20px;
     box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
     margin-left: 20px;
     margin-right: 20px;
 }
 .fuertes_certificados figure img{
     width: 100%;
     height: 100%;
     transition: all 400ms ease-out;
     will-change: transform;
 }
 .fuertes_certificados figure .capa{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 123, 27, 0.7);
     transition: all 400ms ease-out;
     opacity: 0;
     visibility: hidden;
    text-align: center;
 }
 .fuertes_certificados figure:hover > .capa {
     opacity: 1;
     visibility: visible;
 }
 .fuertes_certificados figure:hover > .capa h3{
     margin-top: 100px;
     margin-bottom: 15px;
     margin-top: 30px;
 }
 .fuertes_certificados figure:hover > img{
     transform: scale(1.3);
 }
 .fuertes_certificados figure .capa h3{
     color: #fff;
     font-weight: 400;
     margin-bottom: 120px;
     transition: all 400ms ease-out;
      margin-top: 30px;
 }
 .fuertes_certificados figure .capa p{
     color: #fff;
     font-size: 15px;
     line-height: 1.5;
     width: 100%;
     max-width: 220px;
     text-align: center;
     margin-bottom: 15px;
     margin-left: 60px;

}
.fuertes_certificados .proyectos1{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 100px;
}
.fuertes_certificados .proyectos2{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.fuertes_certificados .sect_1{
    justify-content: center;
    display: flex;
    margin: 50px 30px;
}
.fuertes_certificados .sect_2{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.fuertes_certificados .sect_2 figure{
    width: 542.5px;
}
.fuertes_certificados .sect_2 figure p{
    margin-left: 160px;
}

/*Contacto*/

.container__contacto{
    background: #009c8c;
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 150px 150px;
    max-width: 1500px;
    min-height: 700PX;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 100px;
}
.container__contacto h1{
    text-align: center;
    font-size: 3em;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 70px;
    color: #fff;
}
.contacto{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    max-width: 1000px;
    margin-left: 150px;
    display: flex;
}
.contacto > *{
    padding: 1em;
}
.contacto__form{
    background: #fff;
    color: #00303e;
    width: 130%;
}
.contacto__form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contacto__form form .block{
    grid-column: 1 / 3;
}
.contacto__form form p{
    margin: 0;
    padding: 1em;
}
.contacto__form form button,
.contacto__form form input,
.contacto__form form textarea{
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: 0;
    color: #00303e;
    border-bottom: 1px solid #009c8c;
}
.contacto__form form button{
    background-color: #00303e;
    color: #fff;
    border: 0;
    padding: 1em;
    border-radius: 8px;
}
.contacto__form form button:hover{
    background: #fff;
    border: 2px solid #00303e;
    color: #00303e;
}
.contacto__info{
    background: #00303e;
    color: #fff;
}
.contacto__info h4,
.contacto__info ul,
.contacto__info  p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contacto__info ul{
    list-style: none;
    padding: 0;

}
.contacto__info ul li{
    padding: 0.5em;
}
@media(max-width: 700px) {
    .container__contacto {
        padding: 0 0em;
        width: 100%;
        height: 900px;
    }
    .container__contacto h1{
        font-size: 2.5rem;
    }  
    .contacto {
        display: flex;
        grid-template-columns: 2fr 1fr;
        margin-left: 0px;
        flex-direction: column;
    }
    .contact0 > * {
        padding: 2em;
    }
    .contacto__info h4,
    .contacto__info ul,
    .contacto__info p {
        text-align: left;
    }
    .logo{
        margin-left: 10px;
    }

}
@media(max-width: 1400px)and (min-width:700px){
    .contacto{
        width: 80%;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
    }
    .container__contacto{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 100px 0px;
    }
    .container__contacto h1{
        font-size: 4rem;
        padding-top: 0%;
    }
}


/*FOOTER*/

footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: #00303e;
}
.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #00303e;
}